<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.min.css">

    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/6d0367a1ce.js" crossorigin="anonymous"></script>
    <meta name="robots" content=", follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cambay&family=Rowdies&family=Rubik:wght@400;500;700&family=Sarpanch&display=swap" rel="stylesheet">

    <title>Travels</title>

</head>

<body>
    <!--Видеофон-->
    <div class="video-bg">
    <video autoplay muted loop>
        <source src="/static/images/Sunset%20-%2086879.mp4" type="video/mp4">
      </video>
    </div>

    <!--Видеофон-->    <header class="header container">

        <nav class="nav">
            <div class="header__logo">Travels</div>
            <div class="nav__container">
                <a href="#tour" class="nav__item">Туры</a>
                <a href="#o-nas" class="nav__item">О нас</a>
            </div>
        </nav>
    </header>

<div class="content-container">{% block content %}{% endblock content %}</div>

{% block scripts %}
{% endblock scripts %}

